{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-controls">
        <button class="btn btn-success form-btn-back">{{ button_label|default('Зберегти') }}</button>
        <a href="{{ path('admin_country_index') }}" class="btn btn-secondary">Повернутись</a>
    </div>

{{ form_end(form) }}
