{% extends 'base.html.twig' %}

{% block title %}Результати{% endblock %}

{% block body %}
    <div class="col-12">

        <h1>Результати</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Назва країни</th>
                    <th>Золото</th>
                    <th>Срібло</th>
                    <th>Бронза</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for country in countries %}
                <tr>
                    <td>{{ country.name }}</td>
                    <td>{{ country.goldMedalAmount }}</td>
                    <td>{{ country.silverMedalAmount }}</td>
                    <td>{{ country.bronzeMedalAmount }}</td>
                    <td>
                        <a title="Редагувати" class="btn btn-warning"
                           href="{{ path('admin_country_edit', {'id': country.id}) }}">
                            <i class="material-icons" style="display: block; color: white">mode_edit</i>
                        </a>
                        <a title="Видалити" class="btn btn-danger"
                           href="{{ path('admin_country_delete', {'id': country.id}) }}"
                           onclick="return confirm('Ви точно бажаєте видалити об\'єкт?');">
                            <i class="material-icons" style="display: block">delete</i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Записи відсутні</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_country_new') }}" class="btn btn-primary add-new-btn" title="Додати">
            <i class="material-icons">add</i>
        </a>

    </div>
{% endblock %}
